node-red-test.json
[
    {
        "id": "2a8649ae.1a8d26",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1a08ed.d7c0ff",
        "type": "twitter in",
        "z": "2a8649ae.1a8d26",
        "twitter": "",
        "tags": "Donald Trump",
        "user": "false",
        "name": "",
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "8bf9f38d.f6ebc"
            ]
        ]
    },
    {
        "id": "4bd50bbf.57ecb4",
        "type": "rpi-gpio out",
        "z": "2a8649ae.1a8d26",
        "name": "Led",
        "pin": "32",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "6fb38a55.22db5c",
        "type": "trigger",
        "z": "2a8649ae.1a8d26",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "4bd50bbf.57ecb4"
            ]
        ]
    },
    {
        "id": "c61c2565.9424d8",
        "type": "debug",
        "z": "2a8649ae.1a8d26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "8bf9f38d.f6ebc",
        "type": "sentiment",
        "z": "2a8649ae.1a8d26",
        "name": "",
        "property": "payload",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "d3d1391d.f935f8"
            ]
        ]
    },
    {
        "id": "1494eef0.6a2601",
        "type": "debug",
        "z": "2a8649ae.1a8d26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sentiment",
        "targetType": "msg",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3d1391d.f935f8",
        "type": "switch",
        "z": "2a8649ae.1a8d26",
        "name": "Score",
        "property": "sentiment.score",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "-5",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "6fb38a55.22db5c",
                "c61c2565.9424d8",
                "1494eef0.6a2601"
            ],
            [
                "1494eef0.6a2601",
                "c61c2565.9424d8"
            ]
        ]
    }
]
